.t-center {
  text-align: center;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

p {
  font-size: 1.1em;
}

p.feed-desc {
  font-size: 1.3em;
}

div.collection {
  width: 100%;
}

div.collection-card {
  width: 25em;
  display: inline-block;
}
